@media(max-width: 500px){
    body {
        width: 100%;
        height: auto;
        font-size: 14px; /* ajustar tamaño de letra */
    }

    header {
        height: 15vh; /* menos alto para móviles */
        text-align: center;
    }

    header>img {
        width: 15%; /* más pequeño en móviles */
        position: relative;
        left: 0;
    }

    header>h1 {
        font-size: 1.5em; /* reducir tamaño del título */
    }

    nav {
        height: auto;
    }

    nav>div {
        float: none;
        width: 90%; /* ancho completo del móvil */
        margin: 5px auto; /* centrar horizontalmente */
        text-align: center;
    }

    main {
        display: block; /* quitar float/flow-root para móviles */
        width: 100%;
        height: auto;
    }

    main>div:nth-child(odd),
    main>div:nth-child(even) {
        width: 95%;
        margin: 10px auto;
        float: none;
        height: auto;
    }

    main>div:nth-child(odd)>img {
        width: 100%;
        margin: 0;
    }

    main>div:nth-child(odd)>p,
    main>div:nth-child(even)>p,
    main>div:nth-child(even)>h3 {
        width: 95%;
        margin: 5px auto;
        font-size: 0.9em;
    }

    form {
        width: 90%;
        left: 5%;
        top: 10px;
        height: auto;
        padding: 10px;
    }

    form>p {
        font-size: 1.2em;
    }

    label, input[type="text"], input[type="password"], select {
        width: 95%;
        margin: 5px auto;
        display: block;
    }

    input[type="submit"] {
        height: 40px;
    }

    .terminos {
        display: block;
        margin: 5px 0;
    }

    footer {
        height: 60px;
        text-align: center;
    }
}
